# Big Data for Engineers â€“ Exercises 

# Spring 2022 -  Week 11 - Rumble

# 1. Install Rumble

### Option 1: Docker
The first option is to run RumbleDB in a docker container with everything installed, open docker on your computer and run the following command on your command line. Note that where you run the command does not matter as it fetches a remote docker image:
```
docker run -i rumbledb/rumble --shell yes
```

This will open a shell where you can play around with rumble.

Make sure to periodically run ```docker pull rumbledb/rumble``` to fetch newer versions.


### Option 2: Locally
To install the latest version of RumbleDB locally, you can follow the steps given on the official rumbledb website: 
https://rumble.readthedocs.io/en/latest/Getting%20started/

Please follow very carefully the instructions, in particular, first install Spark and check that `spark-submit --version` works before proceeding with RumbleDB. Also mind the Java version as it is guaranteed that it will not work with Java 17.

We strongly recommend using Spark 3.1, the corresponding jar is available here: https://github.com/RumbleDB/rumble/releases/download/v1.18.0/rumbledb-1.18.0-for-spark-3.1.jar. You can download the jar and put it into the exercise session repository.

Now that you have everything needed, you can test your installation by runnning the following command
```
spark-submit rumbledb-1.18.0-for-spark-3.1.jar --shell yes
```

This gives access to the RumbleDB shell where you can try commands. Note that to run each command, you should press 'Enter' three times, and you can quit with 'exit'.

Feel free to try the many functions available, here is a link with the exhaustive list: https://rumble.readthedocs.io/en/latest/Function%20library/.

# 2. Setup Rumble in Jupyter Notebook

### Install Jupyter Notebook

In order to execute the queries in this notebook, you need to [install](https://jupyter.org/install) jupyter notebook on your **own machine**, and then download this notebook and [run](https://jupyter.readthedocs.io/en/latest/running.html#running) it locally rather than rely on the colab.

To get started, you first need to execute the cell below to activate the Rumble magic (you do not need to understand what it does, this is just initialization Python code).

In [ ]:
import requests
import json
import time
from IPython.core.magic import register_line_cell_magic

@register_line_cell_magic
def rumble(line, cell=None):
    if cell is None:
        data = line
    else:
        data = cell

    start = time.time()                                                         
    response = json.loads(requests.post(server, data=data).text)                   
    end = time.time()                                                              
    print("Took: %s s" % (end - start))

    if 'warning' in response:
        print(json.dumps(response['warning']))
    if 'values' in response:
        for e in response['values']:
            print(json.dumps(e))
    elif 'error-message' in response:
        return response['error-message']
    else:
        return response

From now we want to run the code on the notebook instead of the shell, hence you can close the shell (Ctrl+C or type 'exit') and execute your own Rumble server by running:

If you did the local installation
```
spark-submit rumbledb-1.18.0-for-spark-3.1.jar --server yes --port 8001
```

If you did the docker installation
```
docker run -p 8001:8001 --rm -it --mount type=bind,source=replace-with-path-to-exercise11-folder,target=/home  rumbledb/rumble --server yes --port 8001 --host 0.0.0.0 
```

The mount allows RumbleDB to directly read the files from your local disk. If you use Docker, make sure to update the path to `"/home/confusion-2014-03-02/confusion-2014-03-02.json"` in `json-file` calls.

Running the command tells you on which port your server is running  on line
**`[INFO] Starting Rumble in server mode on port ...`**

In [ ]:
server = 'http://localhost:8001/jsoniq'

Now we are all set! You can now start reading and executing the JSONiq queries in this notebook as you go, and you can even edit them!

# 3. Rumble Sandbox

## JSON

As explained on the [official JSON Web site](http://www.json.org/), JSON is a lightweight data-interchange format designed for humans as well as for computers. It supports as values:
- objects (string-to-value maps)
- arrays (ordered sequences of values)
- strings
- numbers
- booleans (true, false)
- null

JSONiq provides declarative querying and updating capabilities on JSON data.

## Elevator Pitch

JSONiq is based on XQuery, which is a W3C standard (like XML and HTML). XQuery is a very powerful declarative language that originally manipulates XML data, but it turns out that it is also a very good fit for manipulating JSON natively.
JSONiq, since it extends XQuery, is a very powerful general-purpose declarative programming language. Our experience is that, for the same task, you will probably write about 80% less code compared to imperative languages like JavaScript, Python or Ruby. Additionally, you get the benefits of strong type checking without actually having to write type declarations.
Here is an appetizer before we start the tutorial from scratch.

In [ ]:
%%rumble

let $stores :=
[
  { "store number" : 1, "state" : "MA" },
  { "store number" : 2, "state" : "MA" },
  { "store number" : 3, "state" : "CA" },
  { "store number" : 4, "state" : "CA" }
]
let $sales := [
   { "product" : "broiler", "store number" : 1, "quantity" : 20  },
   { "product" : "toaster", "store number" : 2, "quantity" : 100 },
   { "product" : "toaster", "store number" : 2, "quantity" : 50 },
   { "product" : "toaster", "store number" : 3, "quantity" : 50 },
   { "product" : "blender", "store number" : 3, "quantity" : 100 },
   { "product" : "blender", "store number" : 3, "quantity" : 150 },
   { "product" : "socks", "store number" : 1, "quantity" : 500 },
   { "product" : "socks", "store number" : 2, "quantity" : 10 },
   { "product" : "shirt", "store number" : 3, "quantity" : 10 }
]
let $join :=
  for $store in $stores[], $sale in $sales[]
  where $store."store number" = $sale."store number"
  return {
    "nb" : $store."store number",
    "state" : $store.state,
    "sold" : $sale.product
  }
return [$join]

## And here you go

### Actually, you already knew some JSONiq

The first thing you need to know is that a well-formed JSON document is a JSONiq expression as well.
This means that you can copy-and-paste any JSON document into a query. The following are JSONiq queries that are "idempotent" (they just output themselves):

In [ ]:
%%rumble
{ "pi" : 3.14, "sq2" : 1.4 }

In [ ]:
%%rumble
[ 2, 3, 5, 7, 11, 13 ]

In [ ]:
%%rumble
{
      "operations" : [
        { "binary" : [ "and", "or"] },
        { "unary" : ["not"] }
      ],
      "bits" : [
        0, 1
      ]
    }

In [ ]:
%%rumble
[ { "Question" : "Ultimate" }, ["Life", "the universe", "and everything"] ]


This works with objects, arrays (even nested), strings, numbers, booleans, null.

It also works the other way round: if your query outputs an object or an array, you can use it as a JSON document. JSONiq is a declarative language. This means that you only need to say what you want - the compiler will take care of the how.

In the above queries, you are basically saying: I want to output this JSON content, and here it is.

## JSONiq basics

### The real JSONiq Hello, World!

Wondering what a hello world program looks like in JSONiq? Here it is:

In [ ]:
%%rumble
"Hello, World!"

Not surprisingly, it outputs the string "Hello, World!".

### Numbers and arithmetic operations

Okay, so, now, you might be thinking: "What is the use of this language if it just outputs what I put in?" Of course, JSONiq can more than that. And still in a declarative way. Here is how it works with numbers:

In [ ]:
%%rumble
2 + 2

In [ ]:
%%rumble
 (38 + 2) div 2 + 11 * 2

(mind the division operator which is the "div" keyword. The slash operator has different semantics).

Like JSON, JSONiq works with decimals and doubles:

In [ ]:
%%rumble
 6.022e23 * 42

### Logical operations

JSONiq supports boolean operations.

In [ ]:
%%rumble
true and false

In [ ]:
%%rumble
(true or false) and (false or true)

The unary not is also available:

In [ ]:
%%rumble
not true

### Strings

JSONiq is capable of manipulating strings as well, using functions:

In [ ]:
%%rumble
concat("Hello ", "Captain ", "Kirk")

In [ ]:
%%rumble
substring("Mister Spock", 8, 5)

JSONiq comes up with a rich string function library out of the box, inherited from its base language. These functions are listed [here](https://www.w3.org/TR/xpath-functions-30/) (actually, you will find many more for numbers, dates, etc).


### Sequences

Until now, we have only been working with single values (an object, an array, a number, a string, a boolean). JSONiq supports sequences of values. You can build a sequence using commas:

In [ ]:
%%rumble
 (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [ ]:
%%rumble
1, true, 4.2e1, "Life"

The "to" operator is very convenient, too:

In [ ]:
%%rumble
 (1 to 100)

Some functions even work on sequences:

In [ ]:
%%rumble
sum(1 to 100)

In [ ]:
%%rumble
string-join(("These", "are", "some", "words"), "-")

In [ ]:
%%rumble
count(10 to 20)

In [ ]:
%%rumble
avg(1 to 100)

Unlike arrays, sequences are flat. The sequence (3) is identical to the integer 3, and (1, (2, 3)) is identical to (1, 2, 3).

## A bit more in depth

### Variables

You can bind a sequence of values to a (dollar-prefixed) variable, like so:

In [ ]:
%%rumble
let $x := "Bearing 3 1 4 Mark 5. "
return concat($x, "Engage!")

In [ ]:
%%rumble
let $x := ("Kirk", "Picard", "Sisko")
return string-join($x, " and ")

You can bind as many variables as you want:

In [ ]:
%%rumble
let $x := 1
let $y := $x * 2
let $z := $y + $x
return ($x, $y, $z)

and even reuse the same name to hide formerly declared variables:

In [ ]:
%%rumble
let $x := 1
let $x := $x + 2
let $x := $x + 3
return $x

### Iteration

In a way very similar to let, you can iterate over a sequence of values with the "for" keyword. Instead of binding the entire sequence of the variable, it will bind each value of the sequence in turn to this variable.

In [ ]:
%%rumble
for $i in 1 to 10
return $i * 2

More interestingly, you can combine fors and lets like so:

In [ ]:
%%rumble
let $sequence := 1 to 10
for $value in $sequence
let $square := $value * 2
return $square

and even filter out some values:

In [ ]:
%%rumble
let $sequence := 1 to 10
for $value in $sequence
let $square := $value * 2
where $square < 10
return $square

Note that you can only iterate over sequences, not arrays. To iterate over an array, you can obtain the sequence of its values with the [] operator, like so:

In [ ]:
%%rumble
[1, 2, 3][]

### Conditions

You can make the output depend on a condition with an if-then-else construct:

In [ ]:
%%rumble
for $x in 1 to 10
return if ($x < 5) then $x
                   else -$x

Note that the else clause is required - however, it can be the empty sequence () which is often when you need if only the then clause is relevant to you.

### Composability of Expressions

Now that you know of a couple of elementary JSONiq expressions, you can combine them in more elaborate expressions. For example, you can put any sequence of values in an array:

In [ ]:
%%rumble
[ 1 to 10 ]

Or you can dynamically compute the value of object pairs (or their key):

In [ ]:
%%rumble
{
      "Greeting" : (let $d := "Mister Spock"
                    return concat("Hello, ", $d)),
      "Farewell" : string-join(("Live", "long", "and", "prosper"),
                               " ")
}

You can dynamically generate object singletons (with a single pair):

In [ ]:
%%rumble
{ concat("Integer ", 2) : 2 * 2 }

and then merge lots of them into a new object with the {| |} notation:

In [ ]:
%%rumble
{|
    for $i in 1 to 10
    return { concat("Square of ", $i) : $i * $i }
|}

## JSON Navigation

Up to now, you have learnt how to compose expressions so as to do some computations and to build objects and arrays. It also works the other way round: if you have some JSON data, you can access it and navigate.
All you need to know is: JSONiq views
an array as an ordered list of values,
an object as a set of name/value pairs

### Objects

You can use the dot operator to retrieve the value associated with a key. Quotes are optional, except if the key has special characters such as spaces. It will return the value associated thereto:

In [ ]:
%%rumble
let $person := {
    "first name" : "Sarah",
    "age" : 13,
    "gender" : "female",
    "friends" : [ "Jim", "Mary", "Jennifer"]
}
return $person."first name"

You can also ask for all keys in an object:

In [ ]:
%%rumble
let $person := {
    "name" : "Sarah",
    "age" : 13,
    "gender" : "female",
    "friends" : [ "Jim", "Mary", "Jennifer"]
}
return { "keys" : [ keys($person)] }

### Arrays

The [[]] operator retrieves the entry at the given position:

In [ ]:
%%rumble
let $friends := [ "Jim", "Mary", "Jennifer"]
return $friends[[1+1]]

It is also possible to get the size of an array:

In [ ]:
%%rumble
let $person := {
    "name" : "Sarah",
    "age" : 13,
    "gender" : "female",
    "friends" : [ "Jim", "Mary", "Jennifer"]
}
return { "how many friends" : size($person.friends) }

Finally, the [] operator returns all elements in an array, as a sequence:

In [ ]:
%%rumble
let $person := {
    "name" : "Sarah",
    "age" : 13,
    "gender" : "female",
    "friends" : [ "Jim", "Mary", "Jennifer"]
}
return $person.friends[]

### Relational Algebra

Do you remember SQL's SELECT FROM WHERE statements? JSONiq inherits selection, projection and join capability from XQuery, too.

In [ ]:
%%rumble
let $stores :=
[
    { "store number" : 1, "state" : "MA" },
    { "store number" : 2, "state" : "MA" },
    { "store number" : 3, "state" : "CA" },
    { "store number" : 4, "state" : "CA" }
]
let $sales := [
    { "product" : "broiler", "store number" : 1, "quantity" : 20  },
    { "product" : "toaster", "store number" : 2, "quantity" : 100 },
    { "product" : "toaster", "store number" : 2, "quantity" : 50 },
    { "product" : "toaster", "store number" : 3, "quantity" : 50 },
    { "product" : "blender", "store number" : 3, "quantity" : 100 },
    { "product" : "blender", "store number" : 3, "quantity" : 150 },
    { "product" : "socks", "store number" : 1, "quantity" : 500 },
    { "product" : "socks", "store number" : 2, "quantity" : 10 },
    { "product" : "shirt", "store number" : 3, "quantity" : 10 }
]
let $join :=
    for $store in $stores[], $sale in $sales[]
    where $store."store number" = $sale."store number"
    return {
        "nb" : $store."store number",
        "state" : $store.state,
        "sold" : $sale.product
    }
return [$join]

### Access datasets

Rumble can read input from many file systems and many file formats. If you are using our backend, you can only use json-doc() with any URI pointing to a JSON file and navigate it as you see fit.

In [ ]:
%%rumble
json-doc("Put any HTTP URL pointing to a JSON document here!").foo[[1]].bar.foobar[]

If you are using your own Rumble server on your cluster, you can also use any other function and scheme.

In [ ]:
%%rumble
json-file("put the path to a JSON lines file here. This will only work against your own Rumble backend and Spark cluster, though.")

# 4. The Great Language Game

This week you will be using again the [language confusion dataset](http://lars.yencken.org/datasets/languagegame/). You will write queries with Rumble. You will have to submit the results of this exercise to Moodle to obtain the weekly bonus. You will need these things:
- The query you wrote
- Something related to its output (which you will be graded on)
- The time it took you to run it

The execution time of the queries will be reported by Rumble.

Download and decompress the dataset in the same folder as `rumbledb-1.18.0.jar` with the following:
```
wget http://data.greatlanguagegame.com.s3.amazonaws.com/confusion-2014-03-02.tbz2
tar -jxvf confusion-2014-03-02.tbz2
```
or, if wget command is not found,
```
curl -o confusion-2014-03-02.tbz2 http://data.greatlanguagegame.com.s3.amazonaws.com/confusion-2014-03-02.tbz2
tar -jxvf confusion-2014-03-02.tbz2
```

Afterwards, you should a folder with a (large) json file inside.

## 4.0 Check the data

We provide you with two datasets, you can already check that you get the correct number of records. The full dataset should contain 16511224 records. We also provided you with a second small dataset to test your queries faster, it contains 100000 records.

In [ ]:
%%rumble
count(for $i in json-file("confusion-2014-03-02/confusion-2014-03-02.json")
return $i)

In [ ]:
%%rumble
count(for $i in json-file("confusion-100000.json")
return $i)

## 4.1 Query the data

You can read data from a json file with `json-file`. For example, the following query will read and print the entries in the confusion dataset:

In [ ]:
%%rumble
for $i in json-file("confusion-100000.json")
return $i

After the results of your query are printed, Rumble will report the execution runtime in milliseconds:
```
Took: 62.02618598937988 ms
```

In the `json-file` method you can optionally specify the number of partitions, which may allow your query to be parallelized and executed faster. This offers great advantage on cluster, but is not much faster locally. For example:

In [ ]:
%%rumble
for $i in json-file("confusion-100000.json", 10)
return $i

## 4.2 SQL to Rumble

The following examples, show how SQL queries can be converted to JSONiq queries. Assume that the dataset is accessible with SQL through the table "entries".

### 4.2.1 Get all games played from Switzerland


```sql
SELECT *
FROM entries
WHERE country == "CH"
```

In [ ]:
%%rumble

### 4.2.2 Get all games played from Switzerland, where the correct answer (target) was "German"
```sql
SELECT *
FROM entries
WHERE country == "CH" AND target == "German"
```

In [ ]:
%%rumble

### 4.2.3 Get the top 5 games played from Switzerland, where the correct answer (target) was "German"
```sql
SELECT *
FROM entries
WHERE country == "CH" AND target == "German"
LIMIT 5
```

In [ ]:
%%rumble

### 4.2.4 Get all games played from Switzerland, where the correct answer (target) was "German", order them by date (ascending), and return the top 5 rows.
```sql
SELECT *
FROM entries
WHERE country == "CH" AND target == "German"
ORDER BY date ASC
LIMIT 5
```

In [ ]:
%%rumble

### 4.2.5 Get all games played from Switzerland, where the correct answer (target) was "German", group them by date, and return for each different date the number of games played.

```sql
SELECT date, COUNT(*) AS num_games
FROM entries
WHERE country == "CH" AND target == "German"
GROUP BY date
```

In [ ]:
%%rumble

### 4.2.6 Get all games played from Switzerland, group them by date and target, and return for each different date and target the number of games played.


NOTE: Rumble has some reserved keywords, for example `date`. If you try to create a variable `$date`, you may get an error, such as `no viable alternative at input 'date'`.

```sql
SELECT date, target, COUNT(*) AS num_games
FROM entries
WHERE country == "CH"
GROUP BY date, target
```

In [ ]:
%%rumble

### 4.2.7 For all games played from Switzerland, return the distinct targets of those games.

```sql
SELECT DISTINCT(target)
FROM entries
WHERE country == "CH"
```

In [ ]:
%%rumble

### 4.2.8 For all games played from Switzerland, get the distinct targets of those games, and return the index of "German" in the list of distinct targets.

In [ ]:
%%rumble

### 4.2.9 Count the number of games played from Switzerland (without any grouping).


NOTE: `distinct-values` and `index-of` work on "sequences". The method `json-file` returns a sequence. If you have an array on which you want to apply `distinct-values` and `index-of`, you must first convert it to a sequence. This can be done with `[]`. For example, if you have an array called `arr`, you can find its distinct values with `distinct-values(arr[])`

```sql
SELECT COUNT(*) AS count
FROM entries
WHERE country == "CH"
```

In [ ]:
%%rumble

If in your query you want to join 2 (or more) sequences (results of `json-file` or subqueries), you can do it in the following way:
```
let $seq1 := ...
let $seq2 := ...
for $i in $seq1, $j in $seq2
where $i.attr1 eq $j.attr2
...
```

## 4.3 More queries

Try writing a few more queries:
- List all chosen answers to games where the guessed language is correct (=target).

In [ ]:
%%rumble

- Count the games where the index of the correct answer in the choices array is 2 (as returned by the index-of method).

In [ ]:
%%rumble

- Return all games played on February 3rd 2014.

In [ ]:
%%rumble

# 5. More nestedness
## 5.1 Create Nestedness
You may remember in the exercise of Spark Dataframes & Spark SQL, we mentioned two methods <font face="courier">collect_set/collect_list</font> for creating arrays. In JSONiq, this kind of things become even simpler because JSONiq natively supports JSON, so we can directly create arrays via adding square brackets (<font face="courier">[]</font>) and even without any group by operations. 

For example, if we want to know the list of date at which "Fijian" was used as the target, we can write a simple JSONiq query:

In [ ]:
%%rumble
let $dateSeq := for $i in json-file("confusion-100000.json", 10)
    where $i.target eq "Fijian"
    return $i.date
return [subsequence($dateSeq, 0, 10)]

The above query is basically a counterpart of a Spark Dataframe query with <font face="courier">collect_list</font>. If we want to imitate the behavior of <font face="courier">collect_set</font>, which means we want the result array to be de-duplicated, we can just resort to <font face="courier">distinct-values</font>:

In [ ]:
%%rumble
let $dateSeq := for $i in json-file("confusion-100000.json", 10)
where $i.target eq "Fijian"
return $i.date
return [distinct-values($dateSeq)]

Now what if we want to know for each different language, the de-duplicated list of date at which it was used as a target? We may need group by again. Try to come up with the query on your own. What might be the difference in the query with and without group by?

**Note:** Do not hesitate to only use the small provided dataset because the query on the original dataset might take very long and consume a humongous amount of memory. The most important thing is not about the answer, but to come up with proper queries.

In [ ]:
%%rumble
for $i in json-file("confusion-100000.json", 10) 
group by $j := $i.target
return {"language":$j, "dates":[distinct-values($i.date)]}

The difference is, if there's group by in a query, after group by, the loop variable (\$i in the above query) will no longer be a single entry, but instead bound to the **sequence** corresponding to each group, which means we can directly apply functions like distinct-values to \$i.
In the query above without group by, \$i always corresponds to one entry, so there's no point to do things like distinct-values(\$i.date). This is why we need to get the intermediate result $dataSeq, and then create arrays and apply distinct-values on this whole sequence.

Obviously, unlike <font face="courier">collect_set/collect_list</font> which only accept one column and create arrays on that very column, JSONiq can create arrays on arbitrary things. For example, if we want to highlight the information of date, we can create a new dataset that shows the game info for each date:

In [ ]:
%%rumble
let $newDataset := for $i in json-file("confusion-100000.json", 10) 
  group by $d := $i.date
  return {"date": $d, "info": [$i]}
return $newDataset

Now we have a more nested dataset! We can try to redo some of the exercises above with this new dataset. For example, get all games played in Switzerland:

In [ ]:
%%rumble

Try another one: get the count of games played in Switzerland:

In [ ]:
%%rumble

Feel free to try out more questions on your own!

## 5.2 Git-archive dataset
Now let's get into the mess of the real world. We are going to explore the git-archive dataset to handle some properly messy data, which is very challenging if you use Spark. 

For getting the dataset, just run:
```
wget https://polybox.ethz.ch/index.php/s/HVWlvJAXVkQ05cw/download -O git-archive.json
```
or use curl as done for the great game language dataset.

Have a look at what the dataset looks like:

In [ ]:
%%rumble
for $i in json-file("git-archive.json", 10)
count $c
where $c <= 1
return $i

What a mess, isn't it? Anyway, let's try to write some challenging queries, since you've already mastered those easy ones with the language game dataset...

1. What is the number of distinct author names that are part of a push event (i.e., an event with the type PushEvent)?

In [ ]:
%%rumble

2. What is the name of the repository with the highest number of push events (i.e., events with the type PushEvent), and how many of these push events occurred in this repository?

In [ ]:
%%rumble

## BONUS: Machine Learning in Rumble

Not only RumbleDB allows to build the entire data pipeline by querying large messy datasets and clean, structure, normoalize and validate them but now also supports feeding the data into machine learning models to build an all-in-one solution. RumbleDB uses Spark to distribute computations accross a cluster, and for ML it is also based on the SparkML library (https://spark.apache.org/docs/latest/ml-guide.html). Here is a simple example to clusterize data points based on a KMeans model.

In the following example we declare a user defined type col-1-2 with an id and two decimal columns. We then write our data in a variable local-data, which we validate against our defined type and then forward the data to a transformer. Finally, we instantiate a K-means estimator to train our data on it.

In [ ]:
%%rumble
declare type local:col-1-2 as {
  "id": "integer",
  "col1": "decimal",
  "col2": "decimal"
};

let $vector-assembler := get-transformer("VectorAssembler")(
  ?,
  { "inputCols" : [ "col1", "col2" ], "outputCol" : "features" }
)

let $local-data := (
    {"id": 0, "col1": 0.0, "col2": 3.0},
    {"id": 1, "col1": 2.1, "col2": 0.1},
    {"id": 2, "col1": 0.2, "col2": 0.2},
    {"id": 3, "col1": 6.0, "col2": 9.0},
    {"id": 4, "col1": 5.1, "col2": 9.1},
    {"id": 5, "col1": 9.2, "col2": 9.2}
)
let $df-data := validate type local:col-1-2* {$local-data }
let $df-data := $vector-assembler($df-data)

let $est := get-estimator("KMeans")
let $tra := $est(
    $df-data,
    {"featuresCol": "features"}
)

for $i in $tra(
    $df-data,
    {"featuresCol": "features"}
)
return $i

### Visualize the output

In [ ]:
import pandas as pd

d = [{"id": 0, "col1": 0.0, "col2": 3.0, "prediction": 0},
    {"id": 1, "col1": 2.1, "col2": 0.1, "prediction": 0},
    {"id": 2, "col1": 0.2, "col2": 0.2, "prediction": 0},
    {"id": 3, "col1": 6.0, "col2": 9.0, "prediction": 1},
    {"id": 4, "col1": 5.1, "col2": 9.1, "prediction": 1},
    {"id": 5, "col1": 9.2, "col2": 9.2, "prediction": 1}]

df = pd.DataFrame(d)
print (df)

ax1 = df.plot.scatter(x='col1',
                      y='col2',
                      c='prediction', cmap='winter')

## Bonus: Run rumble on a Spark cluster in Azure

In this last bonus, we will take advantage of a main aspect of RumbleDB: to be runnable on a cluster.

### Create a cluster

1. Sign into the azure portal (portal.azure.com).
1. Search for "HDInsight clusters" using the search box at the top.
<img src="https://cloud.inf.ethz.ch/s/WxpMXB3Jz8SykMw/download" width="900">
1. Note that under the *Subscription* section, you might be prompted that the subscription is not registered:
<img src="https://cloud.inf.ethz.ch/s/gyTcQYKFCn3Yg6J/download" width="500">

  To fix this, follow the *Click here to register* link, and in the new page, search for *hdinsight*. Then select the *Microsoft.HDInsight* Provider and click the *Register* button.  
<img src="https://cloud.inf.ethz.ch/s/oHn9eyeZRP4LfZq/download" width="500">

1. Create a new resource group (for example: 'exercise08').
1. Give the cluster a unique name.
1. In the "Cluster Type" choose **Spark** and leave the default version as is. It is also indicated to use the **US West** region. 
1. Create a cluster login password (you can use https://www.random.org/strings/ for inspiration). Keep the password around as you will need it for later.
<img src="https://cloud.inf.ethz.ch/s/JY3DRLg8NLH559K/download" width="900">
1. Move to the *Storage* stage of the setup. Here, leave **Azure Storage** as the *Primary Storage Type*. For the *Primary Storage Account* you have the option to set up a new account. The *Container*'s name will be generated automatically, however make sure to remember it, or change it to something memorable, if you plan on finishing the exercises in more than one sitting.
<img src="https://cloud.inf.ethz.ch/s/NgtHE6iwSCZ8FQi/download" width="900">
1. Move to the *Configuration + Pricing* stage of the setup (skip *Security + networking*). Set up a Spark cluster which uses 2 **A5**  deployments as *Head* nodes and 2 **D12 v2** deployments for the *Worker* nodes. It should cost roughly 1.9 EUR/h. Note that if Azure allows you deploy more cores, then do so, by increasing the number of *Worker* nodes.
<img src="https://cloud.inf.ethz.ch/s/JpJEfjkZLPja5EK/download" width="900">
1. Move to the *Reivew + Create* stage of the setup, and click the **Create** button once validation succeeds.
1. Wait until your cluster is deployed (this can take up to 20 minutes).

<span style="color: red;">**Important:** Remember to **delete** the cluster once you are done. If you want to stop doing the exercises at any point, delete it and recreate it using the same container name as you used the first time, so that the resources are still there.</span>

<img src="https://cloud.inf.ethz.ch/s/2jLERoTD6q8nRMQ/download" width="900">

### Access your cluster

Make sure you can access your cluster (the NameNode) via SSH:

```
$ ssh <ssh_user_name>@<cluster_name>-ssh.azurehdinsight.net
```

If you are using Linux or MacOSX, you can use your standard terminal.
If you are using Windows you can use:
- Putty SSH Client and PSCP tool (get them at [here](http://www.chiark.greenend.org.uk/~sgtatham/putty/download.html)).
- This Notebook server terminal (Click on the Jupyter logo and the goto New -> Terminal).
- Azure Cloud Terminal (see the HBase exercise sheet for details)

You can access cluster's YARN in your browser
```
 https://<cluster_name>.azurehdinsight.net/yarnui/hn/cluster
```

## Install Rumble

Then login to the shell and download the latest Rumble version:

```
wget https://github.com/RumbleDB/rumble/releases/download/v1.18.0/rumbledb-1.18.0-for-spark-2.4.jar
```

### HDInsight Shell

Unfortunately HDInsight will not provide us access to any other port than SSH.
Therefore the usual way to work with Rumble through HDInsight is through the shell.

### SSH Forwarding

Howeever for this sheet, we recommend to use SSH forwarding. For that, run:

```
spark-submit rumbledb-1.18.0.jar --server yes --port 8002
```

and then on your local machine forward 8002 -> localhost:8002

```
ssh -N -L 8002:localhost:8002 sshuser@[servername]-ssh.azurehdinsight.net
```

Run the code from your notebook on the cluster and evaluate the speed improvement.

## Exam preparation
For the exam we are going to use the **github** dataset.


### Github Dataset

Github Archive is a project to record the public GitHub timeline. For the following exam questions, we will be working the `git-archive.json` dataset that provides a subset of all records of the public GitHub timeline.

This dataset contains an array of events from a Git repository server. Among other, each event contains the following attributes:

- `id`: unique integer identifier of the event
- `type`: string name of the event type (e.g. "PushEvent", "PullRequestEvent", "IssuesEvent")
- `actor`: key-value map identifying an actor issuing the event
- `repo`: key-value map identifying the repository related to the event
- `payload`: key-value map with different fields for each event type
- `created_at`: string with the data of the event in the format YYYY-MM-DDTHH:MM:SSZ, where T and Z are separators (e.g. 2018-01-01T15:00:00Z)

In order to answer the questions, you may need to explore the structure of the dataset yourself in more depth.

To print the dataset, use json-file().

In [ ]:
%%rumble
json-file("git-archive.json", 10)[1]

To see the fields, use the *keys()* function.

In [ ]:
%%rumble
keys(json-file("git-archive.json", 10))