# <center>Big Data &ndash; Exercise 1</center>
## <center>Fall 2021 &ndash; Week 2 &ndash; ETH Zurich</center>

### Aims
- **After this exercise:** Understand the SQL language and its common query patterns.
- **Later in the semester:** Relate these language features and query patterns relative to other data shapes, technologies, and the languages designed to query them.



- **After this exercise:** Understand the 'table' data shape, normalization, and when they can (and should) be used.
- **Later in the semester:** Understand when you can (and should) throw all of this away!

### Prerequisites
In this exercise, you will brush-up the fundamental concepts of relational databases and SQL. If you haven't taken an introductory databases course (or want to refresh your knowledge) we recommend you to read the following:

Garcia-Molina, Ullman, Widom: Database Systems: The Complete Book. Pearson, 2. Edition, 2008. (Chapters 1, 2, 3, and 6) [Available in the ETH Library] [[Online]](https://ebookcentral.proquest.com/lib/ethz/detail.action?pq-origsite=primo&docID=5832965) [[Selected solutions]](http://infolab.stanford.edu/~ullman/dscbsols/sols.html)

### Database Set-up
Unlike last week's exercise, the dataset for this exercise might take a little bit longer to download and initialize. Please wait for the message `PostgreSQL init process complete; ready for start up` before proceeding!

As before, we set up our connection to the database and enable use of `%sql` and `%%sql`.

In [6]:
server='postgres'
user='postgres'
password='BigData1'
database='discogs'
connection_string=f'postgresql://{user}:{password}@{server}:5432/{database}'

In [7]:
%reload_ext sql
%sql $connection_string

In [8]:
%%sql
SELECT version();

 * postgresql://postgres:***@postgres:5432/discogs
1 rows affected.

[('PostgreSQL 13.4 (Debian 13.4-1.pgdg100+1) on x86_64-pc-linux-gnu, compiled by gcc (Debian 8.3.0-6) 8.3.0, 64-bit',)]

## Exercise 1: Explore the dataset
We want to first understand the dataset a bit better. You will find some queries below to help you explore the schema. In the process, consider the following questions:

1. Which concepts are modelled in the dataset and how do they relate to each other?
2. The data is stored as tables. Why was this shape chosen and why not the other shapes?
3. In which normal forms are the corresponding relations?
4. What are the efficiency trade-offs from adding an `artist_id` and `artist_name` directly to the `releases` table? Hints:
   - What are some typical queries that would benefit from this change?
   - How often do we need to update artists?
5. What potential problems could result from adding this redundancy?

### Where we got the data from
- [Discogs](https://www.discogs.com/)
- [Discogs XML data dumps](http://data.discogs.com/)
- [Download the dataset](https://cloud.inf.ethz.ch/s/4bZWo4TjeXgCNz5) (only necessary if you don't want to use Docker, see `postgres-init.sh` to see how to import it)

### List tables
The following query retrieves a list of tables in the database from a system table describing the current database.

In [9]:
%%sql 
SELECT table_name
FROM information_schema.tables
WHERE table_schema = 'public';

 * postgresql://postgres:***@postgres:5432/discogs
4 rows affected.

[('artists',), ('released_by',), ('releases',), ('tracks',)]

### List attributes/columns
The following query retrieves a list of columns from the tables in the database.

In [10]:
%%sql 
SELECT table_name, column_name, data_type, is_nullable, ordinal_position
FROM information_schema.columns
WHERE table_schema = 'public'
AND table_name NOT LIKE 'pg_%'
ORDER BY table_name, ordinal_position;

 * postgresql://postgres:***@postgres:5432/discogs
16 rows affected.

[('artists', 'artist_id', 'integer', 'NO', 1),
 ('artists', 'name', 'character varying', 'YES', 2),
 ('artists', 'realname', 'text', 'YES', 3),
 ('artists', 'profile', 'text', 'YES', 4),
 ('artists', 'url', 'text', 'YES', 5),
 ('released_by', 'release_id', 'integer', 'NO', 1),
 ('released_by', 'artist_id', 'integer', 'NO', 2),
 ('releases', 'release_id', 'integer', 'NO', 1),
 ('releases', 'released', 'date', 'NO', 2),
 ('releases', 'title', 'text', 'NO', 3),
 ('releases', 'country', 'character varying', 'YES', 4),
 ('releases', 'genre', 'character varying', 'NO', 5),
 ('tracks', 'release_id', 'integer', 'NO', 1),
 ('tracks', 'position', 'character varying', 'YES', 2),
 ('tracks', 'title', 'text', 'YES', 3),
 ('tracks', 'duration', 'integer', 'YES', 4)]

artists 3rd normal form 
released_by 3rd
tracks: release_id + position 相当于 primary key

## Exercise 2: SQL warm-up
Let us begin with several SQL queries to ease us back into the language.

1. Retrieve all artists with the name of 'Radiohead'.

In [11]:
%%sql
SELECT * FROM artists 
WHERE name = 'Radiohead'

 * postgresql://postgres:***@postgres:5432/discogs
1 rows affected.

[(3840, 'Radiohead', None, 'Alternative Rock (Modern Rock) band from Oxfordshire, England (United Kingdom).\r \r The name Radiohead comes from the [a=Talking Heads] song, "Radio ... (2253 characters truncated) ...  [a=Pixies], [a=Magazine], [a=Joy Division], and [a=R.E.M.] (with lead singer of the band, Thom Yorke, refering to himself as an \'R.E.M. groupie\').', 'http://www.radiohead.com')]

2. List the titles of all releases by that artist in alphabetical order.

In [17]:
%%sql
SELECT DISTINCT releases.title
FROM artists 
JOIN released_by ON artists.artist_id = released_by.artist_id
JOIN releases ON released_by.release_id = releases.release_id
WHERE artists.name = 'AC/DC'
ORDER BY releases.title;

 * postgresql://postgres:***@postgres:5432/discogs
36 rows affected.

[("'74 Jailbreak",),
 ('All Night Long',),
 ('Back In Black',),
 ('Ballbreaker',),
 ('Blow Up Your Video',),
 ('Danger',),
 ('Dirty Deeds Done Dirt Cheap',),
 ('Excited / TNT',),
 ('Family Jewels',),
 ('Flick Of The Switch',),
 ('Fly On The Wall',),
 ('For Those About To Rock (We Salute You)',),
 ('For Those About To Rock We Salute You',),
 ('Girls Got Rhythm / T.N.T.',),
 ('Heatseeker',),
 ('Hellway To High',),
 ('High Voltage',),
 ('Highway To Hell',),
 ("If You Want Blood You've Got It",),
 ("Let's Get It Up / Back In Black",),
 ('Let There Be Rock',),
 ('Live',),
 ('Moneytalks',),
 ('Nervous Shakedown',),
 ('No Bull - Live - Plaza De Toros, Madrid',),
 ('Powerage',),
 ("Rock And Roll Ain't Noise Pollution",),
 ('Stiff Upper Lip',),
 ('The Razors Edge',),
 ('Thunderstruck',),
 ('T.N.T.',),
 ('TNT',),
 ('Touch Too Much',),
 ('Whole Lotta Rosie',),
 ('Who Made Who',),
 ('You Shook Me All Night Long',)]

或者 FROM artists NATURAL JOIN released_by
或者 FROM artists JOIN released_by USING()

3. List the titles of all releases by that artist that contain less than 5 tracks.

In [21]:
%%sql
SELECT releases.release_id, releases.title, COUNT(*)
FROM artists 
JOIN released_by ON artists.artist_id = released_by.artist_id
JOIN releases ON released_by.release_id = releases.release_id
JOIN tracks ON releases.release_id = tracks.release_id
WHERE artists.name = 'Radiohead'
GROUP BY releases.release_id, releases.title
HAVING COUNT(*) < 5

 * postgresql://postgres:***@postgres:5432/discogs
78 rows affected.

[(20642, 'Karma Police', 3),
 (23432, 'Climbing Up The Walls (Remixes)', 2),
 (34663, 'Fake Plastic Trees', 3),
 (53004, 'High & Dry / Planet Telex', 4),
 (61839, 'Everything In Its Right Place (Remix)', 1),
 (97433, 'Everything In Its Right Place (House Mix)', 1),
 (98658, 'Planet Telex', 4),
 (100479, 'Pyramid Song', 3),
 (100482, 'Knives Out', 3),
 (100493, 'Pyramid Song', 3),
 (100503, 'Knives Out', 3),
 (120046, 'Street Spirit', 1),
 (124923, 'Packt Like Sardines In A Crushd Tin Box (SM Remix)', 1),
 (144322, 'There There', 3),
 (144927, 'Idioteque', 1),
 (146247, 'Knives Out', 4),
 (163751, 'There There', 3),
 (171890, 'There There', 2),
 (179257, 'Go To Sleep', 3),
 (179263, 'Go To Sleep', 1),
 (179293, 'Go To Sleep', 3),
 (179294, 'Go To Sleep', 3),
 (196380, 'High & Dry / Planet Telex', 4),
 (197139, '2+2=5', 1),
 (199387, 'High & Dry / Planet Telex', 4),
 (199651, 'Just', 3),
 (199691, 'Knives Out / Cuttooth', 2),
 (199695, 'Knives Out', 4),
 (199696, 'Pyramid Song', 4),
 (200477, 'Street Spirit (Fade Out)', 3),
 (200478, 'Street Spirit (Fade Out)', 4),
 (200480, 'No Surprises', 3),
 (205217, 'Lucky', 3),
 (206212, 'My Iron Lung', 4),
 (206216, 'Fake Plastic Trees', 3),
 (206217, 'Street Spirit (Fade Out)', 3),
 (206266, '2+2=5', 3),
 (209232, '2+2=5', 3),
 (209235, '2+2=5', 3),
 (227182, 'A Punchup At A Wedding', 1),
 (230117, 'Remyxomatosis / Sktterbrain', 2),
 (232417, 'Go To Sleep', 3),
 (232418, '2+2=5', 3),
 (233600, 'My Iron Lung E.P.', 4),
 (239621, 'Go To Sleep', 3),
 (241838, '2+2=5', 3),
 (251153, 'Go To Sleep (Zoo DJs Remix)', 1),
 (266860, 'Knives Out', 3),
 (316791, 'No Surprises', 3),
 (323825, 'Pyramid Song', 3),
 (330818, 'Street Spirit / Die Another Day', 2),
 (346254, "Bizarre Love Triangle / Everything In Its Right Place (Nigel's Progressive House Mixes)", 2),
 (362380, 'The Gloaming (DJ Shadow Remix)', 2),
 (367115, 'Go To Sleep', 3),
 (370058, 'Creep', 4),
 (375739, 'Paranoid Android', 2),
 (384144, 'Pop Is Dead', 4),
 (388418, 'Street Spirit (Fade Out)', 2),
 (405649, 'No Surprises', 3),
 (413212, 'The Right Place', 1),
 (414302, 'Where I End And You Begin (2005 Club Mix)', 1),
 (427028, 'Paranoid Android', 3),
 (427036, 'Karma Police', 3),
 (437391, 'There There', 2),
 (437401, 'Knives Out', 1),
 (451307, 'Ale To The Thieves', 3),
 (458914, 'Creep', 4),
 (465407, 'Creep', 4),
 (465416, 'Creep', 4),
 (476503, 'Anyone Can Play Guitar', 3),
 (537710, 'Everything In Its Right Place (Aquasky Remix)', 1),
 (616266, 'Paranoid Android', 3),
 (616271, 'Paranoid Android', 3),
 (619355, 'Karma Police', 3),
 (619357, 'No Surprises', 3),
 (619367, 'Fake Plastic Trees', 4),
 (619507, 'Drill', 4),
 (649920, 'Deep In Velvet / Idioteque', 2)]

4. What are the top 10 artists with the most releases?

In [24]:
%%sql
SELECT artists.artist_id, artists.name, COUNT(*) AS num_releases
FROM artists 
JOIN released_by ON artists.artist_id = released_by.artist_id
GROUP BY artists.artist_id
ORDER BY COUNT(*) DESC
LIMIT 10;

 * postgresql://postgres:***@postgres:5432/discogs
10 rows affected.

[(2725, 'Depeche Mode', 1094),
 (8760, 'Madonna', 649),
 (7552, 'Pet Shop Boys', 605),
 (1031, 'Moby', 550),
 (3909, 'New Order', 464),
 (2714, 'Erasure', 458),
 (28972, 'The Cure', 431),
 (6520, 'U2', 382),
 (4654, 'Kraftwerk', 378),
 (66852, 'The Prodigy', 367)]

5. How many artists have more releases than the average number of releases per artist?

In [48]:
%%sql
WITH release_cnts AS (
    SELECT artists.name, COUNT(*) AS release_count
    FROM artists 
    JOIN released_by ON artists.artist_id = released_by.artist_id
    GROUP BY artists.artist_id
),
avg_release_cnt AS (
    SELECT AVG(release_count)
    FROM release_cnts
)

SELECT COUNT(*)
FROM release_cnts
WHERE release_count > (SELECT * FROM avg_release_cnt);

 * postgresql://postgres:***@postgres:5432/discogs
1 rows affected.

[(24081,)]

6. What are the names and IDs of the artists that have both a release with the genre 'Pop' *and* a release with the genre 'Classical'? Give a query that uses `INTERSECT` and one that uses `EXISTS`.

In [50]:
%%sql

SELECT artists.name, artists.artist_id
FROM artists
JOIN released_by ON artists.artist_id = released_by.artist_id
JOIN releases ON released_by.release_id = releases.release_id
WHERE releases.genre = 'Pop'
INTERSECT
SELECT artists.name, artists.artist_id
FROM artists
JOIN released_by ON artists.artist_id = released_by.artist_id
JOIN releases ON released_by.release_id = releases.release_id
WHERE releases.genre = 'Classical'

 * postgresql://postgres:***@postgres:5432/discogs
10 rows affected.

[('Maurice Jarre', 283111),
 ('Sarah Brightman', 59756),
 ('John Williams (4)', 273394),
 ('Kurt Weill', 407111),
 ('Ennio Morricone', 15900),
 ('Jerry Goldsmith', 208267),
 ('Penguin Cafe Orchestra', 7779),
 ('James Horner', 39575),
 ('Andrew Poppy', 59633),
 ('David Bowie', 10263)]

In [59]:
%%sql
SELECT DISTINCT a1.name, a1.artist_id
FROM artists a1
JOIN released_by ON a1.artist_id = released_by.artist_id
JOIN releases ON released_by.release_id = releases.release_id
WHERE releases.genre = 'Pop'
AND EXISTS (
    SELECT *
    FROM artists a2
    JOIN released_by ON a2.artist_id = released_by.artist_id
    JOIN releases ON released_by.release_id = releases.release_id
    WHERE releases.genre = 'Classical'
    AND a1.artist_id = a2.artist_id
)

 * postgresql://postgres:***@postgres:5432/discogs
10 rows affected.

[('Andrew Poppy', 59633),
 ('David Bowie', 10263),
 ('Ennio Morricone', 15900),
 ('James Horner', 39575),
 ('Jerry Goldsmith', 208267),
 ('John Williams (4)', 273394),
 ('Kurt Weill', 407111),
 ('Maurice Jarre', 283111),
 ('Penguin Cafe Orchestra', 7779),
 ('Sarah Brightman', 59756)]

## Exercise 3: Impact of release genre on average track duration and track count
For this exercise, we want to find out how average track duration and track count varies across genres.

To start, write a query which finds all of the distinct genres:

In [ ]:
%%sql
...

Take a guess as to which genre has:
1. The highest average track count?
2. The lowest average track count?
3. The longest average track duration?
4. The shortest average track duration?

Next, write a query to calculate the average track count per genre:

In [ ]:
%%sql 
...

Write a query to calculate the average duration per genre. Your result should have two attributes: `genre` and `avg_duration`.

In [ ]:
%%sql
...

Did the results match what you expected? Copy your query into the following python script to plot the result.

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt

# Store the result of the query in a Python object (add your query here!)
result = %sql ...

# Convert the result to a Pandas data frame
df = result.DataFrame()

# Extract x and y values for a plot
x = df['genre'].tolist()
y = df['avg_duration'].tolist()

# Print them just for debugging
print(x)
print(y)

# Plot the distribution of scores
fig = plt.figure(figsize =(14, 7))
plt.barh(x, y, align='center')
plt.xlabel('Average Duration (s)')
plt.ylabel('Genre')

## Exercise 4: Discuss query patterns and language features of SQL
1. What patterns did you use in many of the queries above?

2. Do you remember the theory behind them?

3. What makes SQL a declarative language and what advantages does that have?

4. What makes SQL a functional language and what advantages does that have?

## Exercise 5: Limits of SQL (optional)
Explain what the following query does:

In [ ]:
%%sql
WITH RECURSIVE
    X AS (SELECT 3 AS Value),
    artist_releases AS (
        SELECT artists.artist_id, artists.name, releases.release_id, releases.title
        FROM artists, released_by, releases
        WHERE artists.artist_id = released_by.artist_id
        AND released_by.release_id = releases.release_id
    ),
    collaborations AS (
        SELECT DISTINCT ar1.artist_id AS left_id, ar1.name AS left_name, 
                ar2.artist_id AS right_id, ar2.name AS right_name, 1 AS distance
        FROM artist_releases AS ar1, artist_releases AS ar2
        WHERE ar1.release_id = ar2.release_id
        AND ar1.artist_id != ar2.artist_id
    ),
    X_hop_collaborations AS (
        SELECT * FROM collaborations  -- base case
        UNION
        SELECT c1.left_id, c1.left_name, c2.right_id, c2.right_name, c1.distance + 1 AS distance
        FROM X_hop_collaborations AS c1
        JOIN collaborations c2 ON c1.right_id = c2.left_id
        WHERE c1.distance < (SELECT * FROM X)
    )
SELECT * 
FROM X_hop_collaborations
WHERE left_name = 'Radiohead'
ORDER BY distance, right_name;